@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

.artist-card{
  cursor: pointer;
  display: inline-block;
  width: 265px;
  margin: 8px;
}

.artist-card > .artist-image{
  height: 232px;
  background-size: cover;
  background-position: center;
  border-bottom: 3px solid #f2545b;
}

.artist-card > .artist-info{
  padding: 8px;

  text-align: center;

  color: #080808;

  font-family: 'Raleway', sans-serif;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.track-player{
  border-radius: 4px;
  border: 1px solid #dddddd;
  padding: 8px;
}

.track-player > .track-player-progressBar{
  height: 8px;
  margin-bottom: 0px;
}

.track-player > .track-player-progressBar > .progress-bar{
  background-color: #f2545b;
}

.track-player > .track-player-body{
  margin-top: 8px;
  position: relative;
}

.track-player > .track-player-body > .track-player-albumart{
  height: 40px;
  border-radius: 2px;
  vertical-align: top;
}

.track-player > .track-player-body > .track-player-album-info{
  display: inline-block;
  margin-left: 8px;
}

.track-player > .track-player-body > .track-player-buttons{
  position: absolute;
  width: 100px;
  top: 0px;
  right: 0px;
  left: 0px;
  margin: 0 auto;
}
