.center{
  text-align: center;
}

.item-card{
  border-radius: 2px;
  background-color: white;
  color: black;

  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .3);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .3);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .3);
}

.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pointer{
  cursor: pointer;
}

.accent-color{
  color: #f2545b;
}
.accent-color-onHover:hover{
  color: #f2545b;
}
