@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

.artist-container{
  border-radius: 2px;
  overflow: hidden;
}

.artist-container > .artist-image{
  height: 65vh;
  background-size: cover;
  background-position: center;
  border-bottom: 3px solid #f2545b;
}

.artist-container > .artist-info{
  padding: 8px;

  color: #080808;

  font-family: 'Raleway', sans-serif;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sub-title{
  margin-top: 7px;
  font-size: 24px;
}
